<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <h3>Call for papers</h3>

        <p><b>Submission Deadline: 2020-06-01 at 23:59 anywhere on earth (UTC-12)</b></p>

        <p>Notification by: 2020-06-08</p>
        
        <p><a href="https://scinlp-workshop.github.io/#call-for-papers">Submission Instructions</a></p>
        
        <h3>Invited speakers!</h3>
        
        <p>
            • <a href="https://scinlp-workshop.github.io/#asma-ben-abacha">Asma Ben Abacha</a>, National Library of Medicine<br/>
            • Doug Downey, Allen Institute for AI<br/>
            • <a href="https://scinlp-workshop.github.io/#david-jurgens">David Jurgens</a>, University of Michigan<br/>
            • Ryan McDonald, Google<br/>
            • <a href="https://scinlp-workshop.github.io/#vivi-nastase">Vivi Nastase</a>, University of Stuttgart<br/>
            • <a href="https://scinlp-workshop.github.io/#hoifung-poon">Hoifung Poon</a>, Microsoft Research<br/>
            • Iris Shen, Microsoft Research<br/>
            • Robert Stojnic, PapersWithCode<br/>
            • <a href="https://scinlp-workshop.github.io/#byron-wallace">Byron Wallace</a>, Northeastern University
        </p>
       
        <h3>Workshop schedule</h3>
        <p> 
          • <a href="https://scinlp-workshop.github.io/#tentative-schedule">Tentative schedule</a><br/>
          • <a href="https://scinlp-workshop.github.io/#panel-discussion">Panel discussion</a> 
        </p>
        
      </header>
      <section>

      {{ content }}

       <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
